[Unit]
Description=Pull GitHub repository and run blarun
Requires=network.target
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/blarun
# ExecStartPre=/usr/bin/git pull
Environment="RUST_LOG=info"
ExecStart=/usr/local/bin/blarun --repository /home/repo --commit-file /home/blarun-data/commit_file --input-file /home/blarun-data/input.txt --expected-output /home/blarun-data/output.txt --results-file /home/blarun-data/main.csv --timeout-sec 10

[Install]
WantedBy=multi-user.target
